.container{
margin: 0px;
padding: 30px;
width: 100% !important;
}
.form{
  width: 100% !important;
}
#form{
    background-color: rgb(210, 107, 40);
    height: auto !important;
    width: 100% !important;
}

input, select{
  width: 100%;
  padding: 10px;
  margin: auto;
  align-self: center center;
}


 span {
    display: block;
    background: rgb(210, 107, 40);
    text-align: center;
    place-self: center center;
    padding-left: 20px;
    font-size: 10px;
}
.form-control span {
    position: inherit;
    visibility: hidden;
  
  }
  
  .form-control.error span {
    visibility: visible;
    position: inherit;
    display:block;
  }
  


#button {
    background: goldenrod;
    color: white;
    border: none;
    align-items: left;
    padding: 5px 10px;
    border-radius: 3px;
  }
  #button:hover {
    cursor: pointer;
    background: gold;
    border: none;
  }
  #button:focus{
    outline: none;
    border: none;
  }